extends layout

block content
  .container
    .row
      .col-md-3
        p
          label Username
          input#username(type='text', value='Jake0oo0', class='form-control')
        p
          label Overlay
          select#overlay(class='form-control')
            option(value="none") None
            option(value="referee.png") Referee
            option(value="santa-hat-1.png") Santa Hat #1
            option(value="santa-suit-1.png") Santa Suit #1
        p(class="checkbox")
          label
            input#helmet(type="checkbox", name="helmet")
            | Remove Helmet
        canvas#canvas(width='64', height='64', class='center-block')
        .btn-group(style='margin-top: 10px')
          a.btn.btn-primary#download(href="", download="skin.png") Download
          a.btn.btn-primary#upload(href="http://www.minecraft.net/profile/skin/remote?url=") Upload
      .col-md-9
        #model


